@model IEnumerable<Company.Application.DTOs.VillaDto>
<a asp-controller="Villa" asp-action="Create">Create New Villa</a>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
           @*  <th>Create Date</th>
            <th>Update Date</th> *@
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td >@obj.Name</td>
                <td>@obj.Description</td>
            @*     <td>@obj.CreateDate</td>
                <td>@obj.UpdateDate</td> *@
                <td>
                    <a asp-controller="Villa" asp-action="Update" asp-route-villaId="@obj.Id">EDIT</a>
                </td>
                <td>
                    <a asp-controller="Villa" asp-action="Delete" asp-route-villaId="@obj.Id">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>